/*==========================
        DEFAULTS
==========================*/

body {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgb(47, 47, 47) 50%, rgba(19,19,19,1) 100%);
}

nav {
    background: rgb(7,7,7);
}

h1, h2, h3, h4, h5 {
    color: #e5a00d;
}

.card {
    background-color: rgba(40,40,40,1);
}

small {
    color: rgb(190,190,190);
}

nav h3 small.text-muted {
    color: rgb(240,240,240) !important;
}

a {
    color: #F39C12;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(240,240,240);
    text-decoration: none;
    background-color: transparent;
}

.text-muted {
    color: rgb(190,190,190) !important;
}

label {
    color: rgb(240,240,240);
}

/*==========================
        MODALS
==========================*/

#progressModalTitle {
    width: 100%;
}

.modal-content {
    background-color: rgba(40,40,40,1);
}

.modal-content .close {
    color: rgb(240,240,240);
    opacity: 1;
}

.modal-header {
    border-bottom: 1px solid #aaa;
}

.modal-footer {
    border-top: 1px solid #aaa;
}

/*==========================
        FORM CONTROLS
==========================*/

.form-control {
    background: rgba(240, 240, 240, 0.7);
    border: 1px solid #aaa;
}

.form-control:focus {
    background: rgba(240, 240, 240, 0.95);
    border-color: rgb(192, 118, 0.8);
    box-shadow: 0 0 0 0.2rem rgba(243,156,18,.25);
    color: #222;
}

.form-control.is-valid {
    background-color: rgba(239, 255, 243, 0.7);
}

.form-control.is-valid:focus {
    background-color: rgba(239, 255, 243, 0.95);
    color: #222;
}

.form-control.is-invalid {
    background-color: rgba(255, 239, 243, 0.7);
}

.form-control.is-invalid:focus {
    background-color: rgba(255, 239, 243, 0.95);
    color: #222;
}

/*==========================
        NAV TABS
==========================*/

.nav-tabs {
    border-bottom: 1px solid #aaa;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(240,240,240);
    background-color: rgba(40,40,40,0.85);
    border-color: #aaa #aaa rgba(40,40,40,1);
}

/*==========================
        BUTTONS
==========================*/

.btn-secondary {
    color: #fff;
    background-color: #F39C12;
    border-color: #F39C12;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #d4860b;
    border-color: #c87f0a;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #c87f0a;
    border-color: #bc770a;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #F39C12;
    border-color: #F39C12;
}

#episodeOrSeriesBtns label {
    cursor: pointer;
}

#episodeOrSeriesBtns label.active {
    cursor: default;
}

/*==========================
        TABLES
==========================*/

table, td, tr {
    color: rgb(240,240,240);
}

.table td, .table th {
    border-top: 1px solid #aaa;
}

.table thead th {
    border-bottom: 2px solid #aaa;
}

.table-active>td, .table-active>th {
    background-color: transparent;
}

.table-active {
    background-color: rgba(192, 118, 0.8,.20);
}

#libraryTable tbody tr {
    cursor: pointer;
}

#tvShowsTable tbody tr {
    cursor: pointer;
}

#seasonsTable tbody tr {
    cursor: pointer;
}

#episodesTable tbody tr {
    cursor: pointer;
}

#audioTable tbody tr {
    cursor: pointer;
}

#audioTable tbody tr.table-active:not(.success-transition) {
    transition: background-color 2s;
}

#audioTable tbody tr.success-transition {
    background-color: #c3e6cb;
}

#subtitleTable tbody tr {
    cursor: pointer;
}

#subtitleTable tbody tr.table-active:not(.success-transition) {
    transition: background-color 2s;
}

#subtitleTable tbody tr.success-transition {
    background-color: #c3e6cb;
}